/*Variables */

:root{
    /*Font sizes*/

    --h1-mobile: 1.3rem;
    --h1-desktop:2rem;
    --h2-mobile:1.2rem;
    --h2-desktop:1.5rem;

    --font-size-mobile:0.9rem;
    --font-size-desktop:1rem;
    --font-weight-mobile:500;
    --font-weight-desktop:700;

    /*Fonts*/

    --font-h-elements:'Orbitron', sans-serif;
    --font-body:'Inter', sans-serif;
    

    /*Colors*/
    --linear-gradient-background-exhibition:linear-gradient(90deg, rgb(12, 3, 41) 0%, rgb(24, 17, 41) 45%, rgb(17, 3, 56) 100%); 
    --black:black;
    --secondary-black:#04080D;
    --white:white;
    --linear-gradient-background: linear-gradient(90deg, rgb(3, 3, 3) 0%, rgb(5, 5, 5) 35%, rgb(12, 19, 36) 68%, rgb(0, 13, 15) 100%); 
    --linear-gradient-nav-footer:  linear-gradient(90deg, #1CB5E0 0%, #000851 100%) 1;
    --linear-gradient-font: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    --linear-gradient-cta:linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%);
 }

/*Global values*/

#tsParticles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1000;
}

html{
    height: 100%;
    font-size: 16px;
    background: var(--linear-gradient-background);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    font-size: var(--h1-mobile);
}
h2{
    font-size: var( --h2-mobile);
}
h1,h2,h3{
    font-family: var( --font-h-elements);
}

p{
    font-size: var(--font-size-mobile);
    line-height: 150%;
    text-align: left;
   
}
.event-text p{
    text-align: left;
}

ul{
    list-style-type: none;
    gap: 1rem;
    font-weight: var(--font-weight-mobile);
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}   

.flex{
    display: flex;
  
}
.logo-container, .logo{
    max-width: 100px;
}

fieldset{
    border: none;
}

.title-site{
    font-size: var(--h1-mobile);
    font-family: var(--font-h-elements);
}

.copyright, 
.title-site, 
.usefull-links, 
.socials{
    background: var(--linear-gradient-font);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
img{
    width: 100%;
}
.copyright{
    margin-bottom: 10px;
}


body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    font-family: var(--font-body);
}

@media(min-width:40rem){
    h1{
        font-size: var( --h1-desktop);
    }
    h2 {
        font-size: var(--h2-desktop);
    }
    p{
        font-size: var(--font-size-desktop);
        text-align: justify
    }
    ul{
        font-weight: var(--font-weight-desktop);
    }

    .title-site{
        font-size: 2rem;
    }    
}
.title-sub{
    font-size: 1rem;
    text-align: left;
 
}

/* Navigation*/

header {
    background: var(--black);
    border-bottom: 3px solid transparent;
    border-image:var(--linear-gradient-nav-footer);
    position: sticky;
    top: 0;
    z-index: 1;
}  

.nav{
    padding: 0;
    margin: 0;
    font-size: 20px;
    position: sticky;
}
.logo-wrapper, header {
    align-items: center;
}


    /*Navigation Mobile*/

@media (max-width: 52em){
         header{
        justify-content: space-around;
    }

    .nav{
        position: fixed;
        inset:0 0% 0 0;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        gap:2rem;
        z-index: 1000;
        transform: translateX(-100%);
        transition: 0.4s ease-in-out;
        background: rgba(8, 8, 8, 0.849);
        backdrop-filter:blur(1rem);
        text-align: left;
        justify-content: center;
        color: var( --white);
   
    }
    .active-page{
        background: var(--linear-gradient-font);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /*Hamburger Menu*/

    .line{
        width: 23px;
        height: 3px;
        background: var(--linear-gradient-font);
        display: block;
        margin: 5px;
        position: relative;
}

    .hamburger{
        margin: 10px;
        background: transparent;
        border:none;
        z-index: 9999;
}
    /*Hamburger menu Animation*/

    .hamburger .line{
        transition:0.6s, opacity 0.2s;
        transform-origin: center;
    }

    .hamburger.active .top{
        transform: rotate(45deg) translate(8px, 7px);

}
    .hamburger.active .bottom{
        transform: rotate(-45deg) translate(4px, -3.5px);

}
    .hamburger.active .middle{
        opacity: 0;
}
.hamburger.active .line{
    background: var(--white);

}
    .nav.active{
        transform: translateX(0%);
    }

}

    /*Navigation Desktop*/

    @media(min-width:52em){

        .logo-container{
            margin: 5px 10px;
        }
         .hamburger{
            display: none;
        }
        header {
            justify-content: center; 
        }
 
         .nav{
        gap:clamp(1rem, 5vw, 5rem);
        padding-block: 1rem;
        padding-inline:clamp(3rem, 7vw ,10rem);
        background: var(--linear-gradient-font);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav a:hover, .active-page {
        transition: 0.3s ease;
        background: var(--white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}      

/*CTA and buttons*/

.cta{
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: var(--font-weight-mobile);
    display: block; 
    background-image:var(--linear-gradient-cta);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    cursor: pointer;
    font-weight: var(--font-size-mobile);            
}
.cta-container{
    width: fit-content;
    margin: 10px auto;
}
.cta-exhibition, .cta-event{
    padding: 10px 80px;
}
.cta-container:active, .logo:active{
    transform: scale(0.99);
}

.cta:hover {
    background-position: right center; 
    color: var(--white);
  }
  button{
    border: none;
    height: 40px;
    outline: none;
  }

@media(min-width: 40rem){
    .cta{
        font-weight: var(--font-size-desktop);     
    }
.cta-container-visit, .cta-container-about{
    margin: 10px 0;
    }

}

/*Intro Landing Page*/

.images{
    display: none;
}
.images.show{
    display: block;
}

.hero-picture img, .about-images img{
    max-width: 600px;
    height: 400px;
    margin: 10px auto;
    object-fit: contain;
}

.hero-section{
    text-align: center;
    padding: 20px;
    background: var(--black);
    margin: 50px auto;
    color: white;
}
@media(min-width: 40rem){
    .hero-section{
        margin:50px 20px;
    }
    .hero-picture img{
        height: 500px;
    }
}

/*Event-page*/

    .event-row{
        flex-wrap: wrap;
        justify-content: center;
        gap:20px;
        margin: 20px 0;
    }

    .event-banner{
        background: left / cover no-repeat url("/images/Museum/events/jpg/eventBanner.jpg");
        
    }

    .event-banner h1{
        padding: 20px;
        text-align: center;
        color: white;
        gap:10px
    }

    .event-card-container{
        width: min(100% - 1rem, 300px);
        background: white;
        border-radius: 15px;
  
    }

    .event-title{
        background-image: var(--linear-gradient-cta);
        color: white;
        text-align: center;
        padding: 10px;
        font-size: var(--h2-mobile);
        margin: 0 0 10px 0;
    }
    
    .event-text{
        padding: 5px 20px;
        margin-bottom: 10px;
    }
    .event-time{
        font-weight: var(--font-weight-desktop);
        margin-bottom: 5px;
    }
    .picture img{
        height: min(200px, 300px);
        display: block;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-position: center;
        object-fit: cover;
    }

@media(min-width:40rem){
    .event-banner h1{
       text-align: left;
       margin-left: 100px;
    }
   
}


/*Exhibitions*/

.exhibitions-banner{
    background: bottom url('/images/Museum/exhebition/jpg/exbanner.jpg');
}

.exhibitions-section-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    gap: 30px;
}
.exhibition-card{
    display: grid;
    grid-template-columns: 1fr;
    width: min(100% - 2rem, 1000px);
    border-radius: 10px;
    background: #D9D9D9;
    margin: 10px auto;
    background: var(--linear-gradient-background-exhibition);
    color: white;
}

.exhibition-visit-box{
    background: white;
    color: black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(255, 255, 255), 0 0 5px #fff, 0 0 5px #061a8bc9, 0 0 5px #0e105f94,
    0 0 5px #06257a, 0 0 5px #150461;

}

 .exhibition-text, .exhibition-time, .exhibition-visit-box{
    padding: 15px;
}
.exhibition-text h3{
    margin: 10px 0;
}
.exhibition-text h2{
    margin-top: 5px;
}

.picture-exhibition img{
    width: min(100%, 1000px);
    display: block;
    border-radius: 10px 10px 0 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
    /*I-pad*/
@media(min-width:40rem){
    .exhibition-card p{
        text-align: left;
    }
    .exhibition-card{
        grid-template-columns: 1fr 1fr;
    }
    .picture-exhibition{
        grid-column: 2;
        grid-row: 1/2;
    }
    .picture-exhibition img{
        border-radius: 0 10px 0px 10px;
}
}
    /*Desktop*/
@media(min-width:52rem){
    .picture-exhibition img {
        border-radius: 0 10px 10px 0;
}
    .exhibition-card{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .exhibition-card p{
        text-align: justify;
    }
    .picture-exhibition{
        grid-column: 3;
        grid-row: 1/3;
        border-radius: 0 10px 10px 0;
    }
    .exhibition-text{
        grid-row: 1;
        grid-column: 1/3;
    }
    .exhibition-visit-box{
        grid-column: 2;
        grid-row: 2;
    }
    .exhibition-time{
        grid-column: 1;
        grid-row: 2;
    }
}

/*contact*/

.contact h1{
    color: white;
    text-align: center;
    margin: 10px;
}

.contact-form-container{
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr;
    background: white;
}
.form-container, .museum-info{
    padding: 20px;
}
.form-container{
    background: black;
    color: white;
}

.form-container h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contact-form{
    display: grid;
    row-gap: 1rem;
}
.contact-form, .museum-info{
    width: min(100%, 400px);
    margin: 0 auto;
}
.contact-form input{
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

textarea{
    height: 100px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}
.museum-info{
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;     
}

.fa-location-dot, .fa-clock, .fa-envelope, .fa-square-phone{
    font-size: 1.5rem;

}
.museum-info h3{
    margin-bottom: 50px;
    text-align: center;
    grid-column: 1/4;
}
.mail-info{
    grid-column: 1/2;
    grid-row: 3;
    margin-bottom: 15px;
}
.phone-info{
    grid-column: 3;
    grid-row: 3;
    margin-bottom: 15px;
}
.time-info{
    grid-column: 3;
    grid-row: 2;
    margin-bottom: 15px;
}
.adress-info{
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 15px;
}
.titles{
    font-weight: var(--font-weight-desktop);
}

@media(max-width:310px){
    .time-info{
        grid-column: 1;
        grid-row: 3;
    }
    .phone-info{
        grid-column: 1;
        grid-row: 4;
    }
    .mail-info{
        grid-column: 1;
        grid-row: 5;
    }
    .museum-info h3{
        grid-column: 1/3;
        text-align: center;
    }
}
@media(min-width:40rem){
    .contact-form-container{
        grid-template-columns: 1fr 1fr;
    }
    .museum-info h3{
        margin-bottom: 10px;
        text-align: left;
        grid-column: 1;
    }
    .phone-info{
        grid-column: 2;
        grid-row: 3;
        margin-bottom: 15px;
    }
    .time-info{
      
        grid-column:2;
        grid-row: 2;
        margin-bottom: 15px;
    }
    .fa-location-dot, .fa-clock, .fa-envelope, .fa-square-phone{
        font-size: 2.5rem;
    }
}
/*about page*/
.explore-together{
    background: rgba(0, 0, 0, 0.548);
    backdrop-filter:blur(0.2rem);
}
.about-images img{
    margin: 0 auto;
}

.news-letter{
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news-letter-container {
    flex-direction: column;
    gap:10px;
    margin-bottom: 20px;
}
.news-letter-container input{
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
}
.sign-up{
    gap:10px;
    flex-direction: column;
    align-items: center;
}
.sign-up-cta{
    width: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.information-banner{
    display: grid;
    grid-template-columns: 1fr;
    background: white;
    padding: 20px;
}

.information-banner h1,h2{
    font-size: 1.5rem;
    max-width: 550px;
    margin: 20px auto;
}

.information-article{
    max-width: 600px;
}
.information-article-visit{
    max-width: 450px;
}

.explore{
    justify-content: center;
    align-items: center;
    background-image: url('/images/aboutImages/dino1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: min(300px, 500px);
}

.explore-text{
    background: rgba(0, 0, 0, 0.945);
    border-radius: 10px;
    padding: 1px 10px;
    cursor: pointer;
}
.explore-text p{
    background: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-family: var(--font-h-elements);
}
.explore-text div{
    opacity: 0.1;   
}

.admission, .address-banner{
    background: white;
    
}
.food-drink, .shop, .accessibility{
    background: #04080D;
    color: white;
}

@media(min-width:40rem){
    .sign-up{
        flex-direction: row;
        align-items: center;
    }
    .news-letter-container input{
        padding: 10px 30px;
    }
    .explore-text p{
        font-size: 3rem;
    }
    .information-banner{
        grid-template-columns: 1fr 1fr
    }
    .about-text h1{
        font-size: 4.5rem;
    }

     .food-drink article,  .accessibility article,     .shop article {
       max-width: 400px;
    }

    .admission article{
        max-width: 500px;
    }
    .explore{
        height: min(600px, 800px); 
    }
    .explore-text{
        padding: 10px;
    }
}

/*get involved*/

.involved-text h1{
    font-size: 2rem;
 
}
.volunteering-text{
    background: #04080D;
    color: white;
}
.involved-banner{
    background: transparent;
   
}
.involved-banner h1{
    text-align: center;
}


.future{
    color: palevioletred;
    
}
.google-maps{
 background: black;

}

iframe{
   margin: 10px 0;
   width: 100%;
   border: none;
   height: min(350px, 500px);

}
.visit-explore{
    background-image: url('/images/aboutImages/universe.jpg');
}

/*Booking*/

.booking-form, .booking, .booking-success{
    padding: 20px;
}
.booking-form, .booking-success{
    border-radius: 10px;
}
.booking-form{
    width: min(100% , 400px);
    background: black;
    margin-bottom: 20px;
    color:white;
}
select, option{
    padding: 7px;
    font-family: var( --font-body);
    font-size: 0.8rem;
    border-radius: 5px;
    outline: none;
}
.credit-card{
    gap:10px;
}
.credit-card input{
    margin-top: 10px;
}
.booking-form{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}
.price-total{
    justify-content: space-between;
}
.booking-success{
   margin: 0 auto;
   top:400px;
   width: min(300px, 350px);
   text-align: center;
   background: rgb(137, 197, 137);
}
.booking-success p{
    text-align: left;
}
.close-dialog{
    margin: 10px;
    padding: 5px 50px;
    text-align: center;
}

/*Footer*/

footer{
    background:black;
    flex-direction: column;
    margin-top: auto;
    border-top: 3px solid transparent;
    border-image: var(--linear-gradient-nav-footer);
    align-items: center;
    gap: 30px;
}
footer h4{
    margin-bottom: 10px;
    font-size: 0.9rem;
    text-align: center;
}
.socials{
    font-size: 1.9rem;
}
.social-list{
    margin-top: 30px;
    gap:3rem;
}

@media(min-width:52rem){
    footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
    .social-list{
        margin: 0;
    }
}