/*Global Values */

html{
    height: 100%;
    font-size: 16px;
    background: var(--black);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --h1-mobile: 1.3rem;
   --h1-desktop:2rem;
   --font-size-mobile:0.9rem;
   --font-size-desktop:1rem;
   --font-weight-mobile:500;
   --font-weight-desktop:700;

   --font-logo-h1:'Orbitron', sans-serif;
   --font-body:'Inter', sans-serif;
   
   --black:black;
   
   --secondary-black:#04080D;
   --light-blue:#091026;
   --dark-blue:#0D1E40;
   --logo-color: #488cb6;
   --white:white;
}
h1{
    font-size: var(--h1-mobile);
    font-family: var(--font-logo-h1);
}
p{
    font-size: var(--font-size-mobile);
   
}
ul{
    list-style-type: none;
    gap: 1rem;
    font-weight: var(--font-weight-mobile);
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}   

.flex{
    display: flex;
  
}
@media(min-width:40rem){
    h1{
        font-size: var( --h1-desktop);
    }
    p{
        font-size: var(--font-size-desktop);
    }
    ul{
        font-weight: var(--font-weight-desktop);
    }
}

body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    font-family: var(--font-body);
}
.hero-banner{
    background: var(--secondary-black);
    color: var(--logo-color);
    
}

.logo-container{
    max-width: 100px;
}
.logo{
    max-width: 100%;
}

/* Navigation*/
.hero-banner{
    background: url(/images/logo/nightsky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  


.navigation-wrapper{
    align-items: center;
    background-image: linear-gradient( 65.5deg,  rgba(26, 167, 167, 0.658) -15.1%, rgba(23, 25, 95, 0.87) 71.5% );

}

.nav{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    position: sticky;
}


/*Nav Mobile*/

@media(max-width:30rem){

}
@media (max-width: 52em){

    .hero-banner{
        flex-direction: column;
        padding-bottom: 10px;
        align-items: center;
    }
    .nav{
        position: fixed;
        inset:0 0% 0 0;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        gap:2rem;
        z-index: 1000;
        transform: translateX(-100%);
        transition: 0.4s ease-in-out;
        background: rgba(53, 51, 51, 0.75);
        backdrop-filter:blur(1rem);
        text-align: left;
        justify-content: center;
        color: var( --white);
   
    }
    /*Hamburger Menu*/


    .line{
        width: 23px;
        height: 3px;
        background-color:var(--white);
        display: block;
        margin: 5px;
        position: relative;
}

    .hamburger{
        margin: 10px;
        background: transparent;
        border:none;
        z-index: 9999;
}
    /*Hamburger menu Animation*/

    .hamburger .line{
        transition:0.6s, opacity 0.2s;
        transform-origin: center;
    }

    .hamburger.active .top{
        transform: rotate(45deg) translate(8px, 7px);

}
    .hamburger.active .bottom{
        transform: rotate(-45deg) translate(4px, -3.5px);

}
    .hamburger.active .middle{
        opacity: 0;
}
    .nav.active{
        transform: translateX(0%);
    }

}

/*Navigation Desktop*/

@media(min-width:52em){
    .hero-banner{
        padding: 0;
        align-items: center;
    }

    .logo-container, .hero-banner h1{
        margin: 5px 10px;
    }
    .hamburger{
        display: none;
    }
    .navigation-wrapper{
        justify-content: center;
        background-color: var(--light-blue);
    }
    
 .nav{
    gap:clamp(1rem, 5vw, 5rem);
    padding-block: 1rem;
    padding-inline:clamp(3rem, 7vw ,10rem);
    color: var(--white);
    
 }

  
  .nav a:hover {
    text-decoration: underline 0.10em  white;

}
}


/*Intro Landing Page*/

.hero-section{
    text-align: center;
    margin:10px 0;
}
.hero-section h1{
    padding: 20px;
    color: white;
}

.cta{
    padding: 10px 50px;
    background: var(--dark-blue);
    border-radius: 5px;
    color: white;
    transition: 0.2s all;
    font-weight: var(--font-weight-mobile);
    display: block;
}
.cta-wrapper:active, .logo:active{
    transform: scale(0.99);
;
}
.cta-wrapper{
    text-align: center;
    max-width: fit-content;
    margin: 20px auto;
    text-transform: uppercase;
}
@media(min-width: 40rem){
    .cta-hero{
        padding: 10px 80px;
    }
}

.video-wrapper{
    justify-content: center;
    margin: 10px auto;
    max-width: 1000px;
    

}
.trailer{
    max-width: 100%;
    border-radius: 10px;
}

/*Event-page*/





    .event-row{
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px;
        gap:50px

    
    }

    .event-banner{
        background: url(/images/Museum/17213260_rm373batch13-085.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y:center;
    }
    .event-banner h1{
        padding: 20px;
        text-align: center;
        color: white;
    }



    .event-card-container{
        width: min(100% - 2rem, 300px);
        background: white;
        border-radius: 15px;
        box-shadow: 0 0 0 2px transparent;
      
    }
    .event-title{
        background: #0D1E40;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .event-img-container{
        width: 100%;
        height: 200px;
        background: url('/images/Museum/13311397_v617batch2-kul-05-technology.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .event2{
        background: url('/images/Museum/26600854_wwang_040522_29.jpg');
        background-size: cover;
    }
    .event3{
        background: url('/images/Museum/robot-handshake-human-background-futuristic-digital-age.jpg');
        background-size: cover; 
    }
    .event-text{
        padding: 0 10px;
        line-height: 150%;
    }

    .event-cta-container{
        margin:  10px;
        text-align: center;
     
    }

    .event-time{
        font-weight: 700;
        padding-bottom: 2px;
    }

@media(min-width:40rem){
    .event-banner h1{
       text-align: left;
       margin-left: 100px;
    }
}



/*Footer*/

footer{
  background-image: linear-gradient( 65.5deg,  rgba(26, 167, 167, 0.658) -15.1%, rgba(23, 25, 95, 0.87) 71.5% );
    flex-direction: column;
    margin-top: auto;
    color:var( --white);
    align-items: center;
    gap: 30px;
    font-weight:400;
  
}
footer h4{
    margin-bottom: 10px;
}
.socials{
    font-size: 1.9rem;
}
.social-list{
    margin-top: 10px;
    gap:3rem;
}