/*Global Values */

html{
    height: 100%;
    font-size: 16px;
    background: var(--black);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --h1-mobile: 1.3rem;
   --h1-desktop:2rem;
   --font-size-mobile:0.9rem;
   --font-size-desktop:1rem;
   --font-weight-mobile:500;
   --font-weight-desktop:700;

   --font-logo-h1:'Orbitron', sans-serif;
   --font-body:'Inter', sans-serif;
   
   --black:black;
   
   --secondary-black:#04080D;
   --light-blue:#091026;
   --dark-blue:#0D1E40;
   --logo-color: #488cb6;
   --white:white;
}
h1{
    font-size: var(--h1-mobile);
    font-family: var(--font-logo-h1);
}
p{
    font-size: var(--font-size-mobile);
   
}
ul{
    list-style-type: none;
    gap: 1rem;
    font-weight: var(--font-weight-mobile);
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}   

.flex{
    display: flex;
  
}
@media(min-width:40rem){
    h1{
        font-size: var( --h1-desktop);
    }
    p{
        font-size: var(--font-size-desktop);
    }
    ul{
        font-weight: var(--font-weight-desktop);
    }
}

body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    font-family: var(--font-body);
}
.hero-banner{
    background: var(--secondary-black);
    color: var(--logo-color);
    
}

.logo-container{
    max-width: 100px;
}
.logo{
    max-width: 100%;
}

/* Navigation*/
.hero-banner{
    background: url(/images/logo/nightsky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  


.navigation-wrapper{
    align-items: center;
    background: var(--light-blue)
}

.nav{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    position: sticky;
}


/*Nav Mobile*/

@media(max-width:30rem){

}
@media (max-width: 52em){

    .hero-banner{
        flex-direction: column;
        padding-bottom: 10px;
        align-items: center;
    }
    .nav{
        position: fixed;
        inset:0 0% 0 0;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        gap:2rem;
        z-index: 1000;
        transform: translateX(-100%);
        transition: 0.4s ease-in-out;
        background: rgba(53, 51, 51, 0.75);
        backdrop-filter:blur(1rem);
        text-align: left;
        justify-content: center;
        color: var( --white);
   
    }
    /*Hamburger Menu*/


    .line{
        width: 23px;
        height: 3px;
        background-color:var(--white);
        display: block;
        margin: 5px;
        position: relative;
}

    .hamburger{
        margin: 10px;
        background: transparent;
        border:none;
        z-index: 9999;
}
    /*Hamburger menu Animation*/

    .hamburger .line{
        transition:0.6s, opacity 0.2s;
        transform-origin: center;
    }

    .hamburger.active .top{
        transform: rotate(45deg) translate(8px, 7px);

}
    .hamburger.active .bottom{
        transform: rotate(-45deg) translate(4px, -3.5px);

}
    .hamburger.active .middle{
        opacity: 0;
}
    .nav.active{
        transform: translateX(0%);
    }

}

/*Navigation Desktop*/

@media(min-width:52em){
    .hero-banner{
        padding: 0;
        align-items: center;
    }

    .logo-container, .hero-banner h1{
        margin: 5px 10px;
    }
    .hamburger{
        display: none;
    }
    .navigation-wrapper{
        justify-content: center;
        background-color: var(--light-blue);
    }
    
 .nav{
    gap:clamp(1rem, 5vw, 5rem);
    padding-block: 1rem;
    padding-inline:clamp(3rem, 7vw ,10rem);
    color: var(--white);
    
 }
 .nav a {
    text-decoration: underline 0.10em #091026;
    transition: text-decoration-color 400ms ease-in-out;
}
  
  .nav a:hover {
    text-decoration-color:white;
    -moz-text-decoration-color:white;
}
}


/*Intro Landing Page*/

.hero-section{
    text-align: center;
    margin:10px 0;
}
.hero-section h1{
    padding: 20px;
    color: white;
}

.cta{
    padding: 10px 50px;
    background: var(--dark-blue);
    border-radius: 5px;
    color: white;
    transition: 0.2s all;
    font-weight: var(--font-weight-mobile);
    display: block;
}
.cta-wrapper:active, .logo:active{
    transform: scale(0.98);
}
.cta-wrapper{
    text-align: center;
    margin:30px auto;
    text-transform: uppercase;
}
@media(min-width: 40rem){
    .cta-hero{
        padding: 10px 80px;
    }
}

.video-wrapper{
    justify-content: center;
    margin: 10px auto;
    max-width: 1000px;
    

}
.trailer{
    max-width: 100%;
    border-radius: 10px;
}

/*Event-page*/





    .event-row{
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px auto;
        gap: 30px;
    }

    .event-banner{
        background: url(/images/Museum/17213260_rm373batch13-085.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y:center;
    }
    .event-banner h1{
        padding: 20px;
        text-align: center;
        color: white;
    }
    .event-card-container{
        width: min(100% - 2rem, 300px);
        background: white;
        border-radius: 15px;

 

        
    }
    .event-img-container{
        width: 100%;
    }
    .event-name-container{
        background: #0D1E40;
        text-align: center;
        color: white;
        font-size: 0.8rem;
        padding: 10px;
        margin-top: 0;
    }
    .text-container{
        background: white;
        line-height: 150%;
        text-align: left;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: min(100%, 300px);
        padding: 8px;
    
    }  
    .text-container p {
        padding: 5px;
    }
    .event-img-container img{
        width: 100%;
        max-height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: co;
    }
    .event-cta-container{
        margin-top: auto;
        text-align: center;
     
    }

    .event-time{
        font-weight: 700;
    }

@media(min-width:40rem){
    .event-banner h1{
       text-align: left;
       margin-left: 100px;
    }
}



/*Footer*/

footer{
    background-color: var(--light-blue);
    flex-direction: column;
    margin-top: auto;
    color:var( --white);
    align-items: center;
    gap: 20px;
  
}
.footer-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

  
}

.socials-wrapper{
    text-align: center;
    line-height: 2;
}
.socials-links{
    padding: 5px;
}
.news-letter-wrapper {
    flex-direction: column;
    gap: 0.5rem;

}.input-wrapper{
    gap:0.2rem;
}
.input-wrapper input{
    padding: 5px;
    border-radius: 3px;
    border: none;
}
.input-wrapper button{
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
}


.copyright{
    margin: 20px;
 
}   

@media(min-width: 40rem){
    footer{
        gap: 0;
    }
    .footer-wrapper{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        gap: 0;
    }
    .footer-list{
        flex-direction: column;
        text-align: left;
        margin-top: 30px;
    }
    .copyright{
        margin: 15px 0;
     
    }   
    
}