/*Global Values */

html{
    height: 100%;
    font-size: 16px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(3, 3, 3) 0%, rgb(5, 5, 5) 35%, rgb(12, 19, 36) 68%, rgb(0, 13, 15) 100%); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --h1-mobile: 1.3rem;
   --h1-desktop:2rem;
   --font-size-mobile:0.9rem;
   --font-size-desktop:1rem;
   --font-weight-mobile:500;
   --font-weight-desktop:700;

   --font-logo-h1:'Orbitron', sans-serif;
   --font-h-elements:'Orbitron', sans-serif;
   --font-body:'Inter', sans-serif;
   
   --black:black;
   
   --secondary-black:#04080D;
   --light-blue:#091026;
   --dark-blue:#0D1E40;
   --logo-color: #488cb6;
   --white:white;
}
h1{
    font-size: var(--h1-mobile);
    font-family: var(--font-logo-h1);
}
h2,h3,h4{
    font-family: var( --font-h-elements);
}
p{
    font-size: var(--font-size-mobile);
   
}
ul{
    list-style-type: none;
    gap: 1rem;
    font-weight: var(--font-weight-mobile);
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}   

.flex{
    display: flex;
  
}
@media(min-width:40rem){
    h1{
        font-size: var( --h1-desktop);
    }
    p{
        font-size: var(--font-size-desktop);
    }
    ul{
        font-weight: var(--font-weight-desktop);
    }
}

body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    font-family: var(--font-body);
}

.logo-container{
    max-width: 100px;
}
.logo{
    max-width: 100%;
}

/* Navigation*/

.title-site{
    background: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


header {
    background: black;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, #1CB5E0 0%, #000851 100%) 1;
}  


.navigation-wrapper{
    align-items: center;
  
   
}

.nav{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    position: sticky;
}
.logo-wrapper{
    align-items: center;
}

/*Nav Mobile*/


@media (max-width: 52em){
    .navigation-wrapper{
        justify-content: space-around;
    }

    .nav{
        position: fixed;
        inset:0 0% 0 0;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        gap:2rem;
        z-index: 1000;
        transform: translateX(-100%);
        transition: 0.4s ease-in-out;
        background: rgba(53, 51, 51, 0.75);
        backdrop-filter:blur(1rem);
        text-align: left;
        justify-content: center;
        color: var( --white);
   
    }
    /*Hamburger Menu*/


    .line{
        width: 23px;
        height: 3px;
        background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
        display: block;
        margin: 5px;
        position: relative;
}

    .hamburger{
        margin: 10px;
        background: transparent;
        border:none;
        z-index: 9999;
}
    /*Hamburger menu Animation*/

    .hamburger .line{
        transition:0.6s, opacity 0.2s;
        transform-origin: center;
    }

    .hamburger.active .top{
        transform: rotate(45deg) translate(8px, 7px);

}
    .hamburger.active .bottom{
        transform: rotate(-45deg) translate(4px, -3.5px);

}
    .hamburger.active .middle{
        opacity: 0;
}
    .nav.active{
        transform: translateX(0%);
    }

}

/*Navigation Desktop*/

@media(min-width:52em){


    .logo-container{
        margin: 5px 10px;
    }
    .hamburger{
        display: none;
    }
    .navigation-wrapper{
        justify-content: center; 
    }
 
    
 .nav{
    gap:clamp(1rem, 5vw, 5rem);
    padding-block: 1rem;
    padding-inline:clamp(3rem, 7vw ,10rem);
    background: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
 }

  
  .nav a:hover {
    text-decoration: underline 0.10em  white;

}
}


/*Intro Landing Page*/
.intro{
    background: black;
    padding: 20px;
}

.hero-section{
    text-align: center;
    margin:80px auto;
}
.hero-section h1{
    padding: 20px;
    color: white;
}

.cta{
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: var(--font-weight-mobile);
    display: block; 
    background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-weight: 700;            
}


.cta:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }


.cta-wrapper:active, .logo:active{
    transform: scale(0.99);
;
}
.cta-wrapper{
    text-align: center;
    max-width: fit-content;
    margin: 0px auto;
    text-transform: uppercase;
}

@media(min-width: 40rem){
    .cta-hero{
        padding: 10px 80px;
    }
    .hero-section{
        margin:50px auto;
    }
}

.video-wrapper{
    justify-content: center;
    margin: 10px auto;
    max-width: 600px;
}
.trailer{
    max-width: 100%;
  
}

/*Event-page*/


    .event-row{
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px 0;
        gap:50px

    
    }

    .event-banner{
        background: url(/images/Museum/rezised/even.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y:center;
    }
    .event-banner h1{
        padding: 20px;
        text-align: center;
        color: white;
    }

    .event-card-container{
        width: min(100% - 2rem, 300px);
        background: white;
        border-radius: 15px;
        box-shadow: 0 0 0 2px transparent;
      
    }
    .event-title{
        background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%);
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .event-img-container{
        width: 100%;
        height: 200px;
        background: url('/images/Museum/rezised/coding.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .event2{
        background: url('/images/Museum/rezised/lab.png');
        background-size: cover;
    }
    .event3{
        background: url('/images/Museum/rezised/robotsai.png');
        background-size: cover; 
    }

    .event4{
        background: url('/images/Museum/rezised/aero.png');
        background-size: cover; 
    }
    .event5{
        background: url('/images/Museum/rezised/physics.png');
        background-size: cover; 
    }
    .event6{
        background: url('/images/Museum/rezised/nightmuseum.png');
        background-size: cover; 
    }
    .event-text{
        padding: 0 10px;
        line-height: 150%;
    }

    .event-cta-container{
        margin:  10px;
        text-align: center;
     
    }
    .event-cta-container:active{
        transform: scale(0.99);

}

    .event-time{
        font-weight: 700;
        padding-bottom: 2px;
    }

@media(min-width:40rem){
    .event-banner h1{
       text-align: left;
       margin-left: 100px;
    }
}

/*Exhibitions*/


.exhibitions-banner{
    background: url('/images/Museum/exresize/exbanner.png');
    background-position-y:bottom;
}
.exhibitions-section-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    gap: 30px;
}
.exhibition-card{
    display: grid;
    grid-template-columns: 1fr;
    width: min(100% - 2rem, 1000px);
    border-radius: 10px;
    background: #D9D9D9;
    margin: 10px auto;
    line-height: 150%;

}
 .exhibition-text, .exhibition-time, .exhibition-cta{
    padding: 15px;
}
.exhibition-text h3{
    margin: 10px 0;
}
.exhibition-text h2{
    margin-top: 5px;
}
.exhibition-cta{
    flex-direction: column;
    background: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.event-cta-container{
    box-shadow:none
}
.exhibition-img-container{
    width: min(100%, 1000px);
    height: min(300px);
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
.exhibition1{
    background: url('images/Museum/exresize/biologyDesktop.png');
    background-size: cover;
}
.exhibition2{
    background: url('images/Museum/exresize/universe.png') center;
    background-size: cover;
}
.exhibition3{
    background: url('images/Museum/exresize/Medicine.png') center;
}

.exhibition-info-wrapper{
    flex-direction: column;
}

@media(min-width:40rem){
    .exhibition-card{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .exhibition-img-container{
        grid-column: 3;
        grid-row: 1/3;
        height: auto;
        border-radius: 0 10px 10px 0;
     
    }
    .exhibition-info-wrapper{
        flex-direction: row;
        grid-column: 1/3;
        grid-row: 2;
    }
    .exhibition-text{
        grid-row: 1;
        grid-column: 1/3;
    }
    
}

/*contact*/
.contact h1{
    color: white;
    text-align: center;
    padding: 20px;

}
.contact{
    margin: 10px;
}
.contact-form-container{
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr;
}

.form-container{
    padding: 20px;
    background: black;
    color: white;

}

.form-container h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contact-form{
    display: grid;
    row-gap: 1rem;
    width: min(100%, 400px);
   

}
.contact-form input{
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;


}

textarea{
    height: 100px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}
.museum-info{
    background: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    line-height: 150%;

    
}
.contact-send {
    border: none;
    height: 40px;
    cursor: pointer;
    outline: none;
}
.fa-location-dot, .fa-clock, .fa-envelope, .fa-square-phone{
    font-size: 1.5rem;

}
.museum-info h3{
    margin-bottom: 50px;
    text-align: center;
    grid-column: 1/4;
}
.mail-info{
    grid-column: 1/2;
    grid-row: 3;
    margin-bottom: 15px;
}
.phone-info{
    grid-column: 3;
    grid-row: 3;
    margin-bottom: 15px;
}
.time-info{
  
    grid-column: 3;
    grid-row: 2;
    margin-bottom: 15px;
}
.adress-info{
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 15px;
}
.titles{
    font-weight: 600;
}
@media(max-width:310px){
    .time-info{
        grid-column: 1;
        grid-row: 3;
    }
    .phone-info{
        grid-column: 1;
        grid-row: 4;
    }
    .mail-info{
        grid-column: 1;
        grid-row: 5;
    }
    .museum-info h3{
        grid-column: 1/3;
        text-align: center;
    }
}
@media(min-width:40rem){
    .contact-form-container{
        grid-template-columns: 1fr 1fr;
    }
    .museum-info h3{
        margin-bottom: 10px;
        text-align: left;
        grid-column: 1;
    }
    .phone-info{
        grid-column: 2;
        grid-row: 3;
        margin-bottom: 15px;
    }
    .time-info{
      
        grid-column:2;
        grid-row: 2;
        margin-bottom: 15px;
    }
    .fa-location-dot, .fa-clock, .fa-envelope, .fa-square-phone{
        font-size: 2.5rem;
    }
}









/*about page*/


.about-us{
    display: grid;
    grid-template-columns: 1fr;
}
.about-us{
    background: white;
    padding: 20px;
}
.about-us h1,h2{
    font-size: 1.5rem;
    max-width: 550px;
    margin: 20px auto;
   
}

.about-article{
    max-width: 600px;
    line-height: 150%;
}

.about-explore{
    justify-content: center;
    align-items: center;
    background-image: url('images/aboutImages/dino1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: min(300px, 500px);

    
}






.about-explore h2{
    display: none;
}
.explore-text{
    background: rgba(0, 0, 0, 0.877);
    border-radius: 10px;
    padding: 0 10px;
}
.explore-text div{
    opacity: 0.1;
}
.get-involved-cta{
    margin: 10px auto;
    width: fit-content;
    
}
.admission{
    background: white;
    
}
.food-drink, .shop, .accessibility{
    background: #04080D;
    color: white;
}

@media(min-width:40rem){
    .about-us{
        grid-template-columns: 1fr 1fr
    }
    .about-text h1{
        font-size: 4.5rem;
    }

    .get-involved-cta{
        margin: 10px 0;
        width: fit-content;
        
    }
     .food-drink article,  .accessibility article,     .shop article {
       max-width: 400px;
    }

    .admission article{
        max-width: 500px;
    }
    .about-explore{
        height: min(600px, 800px); 
    }
    .about-explore h2{
        display: inherit;
       font-size: 3rem;
       font-weight: 700;
        background: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    

       
    }
}


























/*Footer*/

footer{
    background:black;
    flex-direction: column;
    margin-top: auto;
    border-top: 3px solid transparent;
    border-image: linear-gradient(90deg, #1CB5E0 0%, #000851 100%) 1;
    align-items: center;
    gap: 30px;
    font-weight:400;
  
}
footer h4{
    margin-bottom: 10px;
    background: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.socials{
    font-size: 1.9rem;
    background: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-list{
    margin-top: 30px;
    gap:3rem;
    
}
.usefull-links{
    background: -webkit-linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}